<h2>Como usar:</h2>
<p><b>Passo 1</b>: Para colocar uma resposta, veja se já existe a pergunta cadastrada naquela lista, se não tiver, pode cadastrar a pergunta.</p>

<p><b>Passo 2</b>: Na lista de perguntas, procure qual delas vc quer responder e clique em Responder, na frente da pergunta. Uma pergunta pode ter várias respostas.</p>

<p><b>Passo 3</b>: Na hora da prova, se alguém editar uma pergunta e marcar o checkbox PROVA de alguma pergunta OU clicar no botão "COLOCAR!" será considerado que está pergunta está na prova, então ela aparecerá na página <a href="/prova">Prova</a>, a fim de facilitar a procura dos colegas.</p>

<p><b>Boa Sorte!</b></p>
