<h2>PDF das aulas</h2>

<hr>

<b>Unidade IV</b>:
<br>
<a href="https://www.sites.google.com/site/jbscinformatica/disciplinas/dwh/dwh_04a.pdf">dwh_04a.pdf</a>
<br>
<a href="https://www.sites.google.com/site/jbscinformatica/disciplinas/dwh/dwh_04b.pdf">dwh_04b.pdf</a>
<br>
<hr>
<br>
<b>Unidade V</b>:
<br>
<a href="https://www.sites.google.com/site/jbscinformatica/disciplinas/dwh/dwh_05a.pdf">dwh_05a.pdf  (Suite Pentaho)</a>
<br>
<a href="https://www.sites.google.com/site/jbscinformatica/disciplinas/dwh/dwh_05b.pdf">dwh_05b.pdf  (Pentaho BIserver)</a>
<br>
<a href="https://www.sites.google.com/site/jbscinformatica/disciplinas/dwh/dwh_05c.pdf">dwh_05c.pdf  (Pentaho PDI)</a>
<br>
<a href="https://www.sites.google.com/site/jbscinformatica/disciplinas/dwh/dwh_05d.pdf">dwh_05d.pdf  (Pentaho PRD)</a>
<br>
<a href="https://www.sites.google.com/site/jbscinformatica/disciplinas/dwh/dwh_05e.pdf">dwh_05e.pdf  (Pentaho PSW)</a>

